List

1.Access Items

In [1]:
list1 = ["Ant", "Cat", "Dog","Horse"]
print(list1[1])

Cat

2.Negative Indexing

In [2]:
list1 = ["Ant", "Cat", "Dog","Horse"]
print(list1[-1])

Horse

3.Range of Indexes

In [ ]:
list2 = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list2[:4])

['apple', 'banana', 'cherry', 'orange']

4.Change Item Value

In [ ]:
list3 = ["apple", "banana", "cherry"]
list3[1] = "blackcurrant"
print(list3)

['apple', 'blackcurrant', 'cherry']

5.Remove Item

In [ ]:
list4 = ["apple", "banana", "cherry"]
list4.remove("banana")
print(list4)

['apple', 'cherry']

Tuples

1.Access Items

In [4]:
tuple1 = ("Ant", "Cat", "Dog","Horse")
print(tuple1[1])

Cat

2.Negative Indexing

In [3]:
tuple1 = ("Ant", "Cat", "Dog","Horse")
print(tuple1[-1])

Horse

3.Range of Indexes

In [ ]:
tuple2 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(tuple2[2:5])

('cherry', 'orange', 'kiwi')

4.Change Item Value

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

5.Tuple Length

In [ ]:
tuple3 = ("apple", "banana", "cherry")
print(len(tuple3))

3

Dictionaries

1.Accessing Items

In [6]:
dict1 = {
  "brand": "BMW",
  "model": "Q1",
  "year": 2005
}
x = dict1.get("model")
print(x)

Q1

2.Change Values

In [7]:
dict2 = {
  "brand": "BMW",
  "model": "Q1",
  "year": 2005
}
dict2["year"] = 2018
print(dict2)

{'brand': 'BMW', 'model': 'Q1', 'year': 2018}

3.Dictionary Length

In [8]:
print(len(dict1))

3

4.Adding Items

In [9]:
dict3 = {
  "brand": "BMW",
  "model": "Q1",
  "year": 2005
}
dict3["color"] = "red"
print(dict3)

{'brand': 'BMW', 'model': 'Q1', 'year': 2005, 'color': 'red'}

5.Removing Items

In [10]:
dict4 = {
  "brand": "BMW",
  "model": "Q1",
  "year": 2005
}
dict4.pop("model")
print(dict4)

{'brand': 'BMW', 'year': 2005}

Strings

1.Slicing

In [11]:
a = "Hello, Mariam!"
print(a[2:5])

llo

2.Negative Indexing

In [12]:
a = "Hello, Mariam!"
print(a[-5:-2])

ria

3.String Length

In [13]:
a = "Hello, Mariam!"
print(len(a))

14

4.Check String

In [14]:
txt = "The Sky is blue"
x = "is" in txt
print(x)

True

5.String Concatenation

In [17]:
a = "Hello"
b = "Mariam"
c = a + "," +" "+ b
print(c)

Hello, Mariam

Sets

1.Access Items

In [ ]:
set1 = {"apple", "banana", "cherry"}
for x in set1:
  print(x)

banana
cherry
apple

2.Add Items

In [ ]:
set2 = {"apple", "banana", "cherry"}
set2.add("orange")
print(set2)

{'banana', 'cherry', 'orange', 'apple'}

3.Length of a Set

In [ ]:
print(len(set2))

4

4.Remove Item

In [ ]:
set3 = {"apple", "banana", "cherry"}
set3.remove("banana")
print(set3)

{'cherry', 'apple'}

5.Join Two Sets

In [ ]:
set4 = {"a", "b" , "c"}
set5 = {1, 2, 3}

set6 = set4.union(set5)
print(set6)

{1, 2, 3, 'b', 'c', 'a'}